.card-title{
  font-family: 'Istok Web', sans-serif;
  font-weight: 700;
  color: var(--pri-color);
}

.text-bg-theme{
  background-color: color-mix(in srgb, var(--pri-color) 85%, transparent);
  height: 100%;
}

.no-border{
  --bs-card-border-width: 0;
}

.slogan{
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 4em;
  align-self: center;
}

