/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Barcode+128+Text&family=Water+Brush&display=swap');

/* DEFAULTS */
:root{
    --pri-color: #fd5912;
    --sec-color: #FFFFFF;
    --text-color: #303030;
    --gradient-base: rgb(73,230,206);
    --gradient-level: linear-gradient(90deg, rgba(73,230,206,1) 0%, rgba(254,142,94,1) 50%, rgba(245,238,107,1) 100%);
}

body{
    font-family: 'Istok Web', sans-serif;
    font-weight: 400;
    color: var(--text-color);
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, summary{
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
    color: var(--pri-color);
}

main, footer{
    padding: 3em 5em;
}

section{
    margin-bottom: 2em;
}

a{
    text-decoration: none;
}


/* MEDIA QUERY*/

@media screen and (max-width:1100px) {
    #welcome{
        height: 90%;
    }
    
    #intro{
        gap: 0.5em;
    }
  
    #intro-text{
        max-width: 55%;
    }
  }
  
  @media screen and (max-width:820px) {
    main{
        padding: 2em;
    }
  
    #logo, #mobile-menu{
        display: block;
    }
  
    .nav{
        display: none;
    }
  
    #header-right {
        display: flex;
        align-items: center;
        gap: 0.5em;
    }
  
    .mobile-menu{
        position: absolute;
        left: -10000px; 
    }
  
    #m-menu-icon{
        display: block;
    }
  
    #mobile-menu:hover .mobile-menu {
        left: 0px;
        right: 0px;
        flex-wrap: wrap;
        flex-direction: column;
        flex-basis: 100%;
        align-items: center;
        background-color: var(--sec-color);
    }
    .mobile-menu{
        display: flex;
    }
  
    .mobile-menu li{
        list-style:none;
        padding: 0.5em;
    }
  
    .mobile-menu li a{
        list-style:none;
        position: relative;
        color: var(--pri-color);
        font-weight: 700; 
        font-size: 1.5em;
        align-self: center;
    }
  
    #intro{
        flex-direction: column;
    }
  
    #intro-text{
        max-width: 100%;
    }
  
    .propic{
        align-self: center;
    }
  
  
  }
  
  @media screen and (max-width:400px) {
    main, footer{
        padding: 1em;
    }
    
    .mobile-menu{
        position:absolute;
        left:-10000px; 
    }
  
    #m-menu-icon{
        display: block;
    }
  
    #m-menu-icon:hover + .mobile-menu{
        left: 0px;
        right: 0px;
        flex-wrap: wrap;
        flex-direction: column;
        flex-basis: 100%;
        align-items: center;
        background-color: var(--sec-color);
    }
  
    .mobile-menu li{
        position: relative;
    }
  
    #hero-text{
        font-size: 2.5em;
    }
  
    #headline{
        font-size: 1.5em;
    }
  
    .propic img{
        max-width: 200px;
    }
  
    footer .slogan{
        font-size: 2.5em;
    }
  
    #footer-contact{
        flex-direction: column;
        align-items: center;
    }
  }