/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Barcode+128+Text&family=Water+Brush&display=swap');

/* DEFAULTS */
:root{
    --pri-color: #fd5912;
    --sec-color: #FFFFFF;
    --text-color: #303030;
    --gradient-base: rgb(73,230,206);
    --gradient-level: linear-gradient(90deg, rgba(73,230,206,1) 0%, rgba(254,142,94,1) 50%, rgba(245,238,107,1) 100%);
}

body{
    font-family: 'Istok Web', sans-serif;
    font-weight: 400;
    color: var(--text-color);
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, summary{
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
    color: var(--pri-color);
}

main, footer{
    padding: 3em 5em;
}

section{
    margin-bottom: 5em;
}

a{
    text-decoration: none;
}


